{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <!-- Title -->
  <div class="row pt-3">
    <h1 class="center-text">{% trans "Sign In" %}</h1>
  </div>
  <div class="row pt-2">
    <p class="center-text">{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
  </div>
  <!-- Login form -->
  <div class="row mx-auto">
    <div class="col-12 col-md-4 offset-md-4">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <!-- Username -->
        <div class="row">
          <label for="id_login">Username:</label>
        </div>
        <div class="row pb-2">
          <input type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150" required=""
            id="id_login">
        </div>
        <!-- Password -->
        <div class="row">
          <label for="id_password">Password:</label>
        </div>
        <div class="row pb-2">
          <input type="password" name="password" placeholder="Password" autocomplete="current-password" required=""
            id="id_password">
        </div>
        <!-- 'Remember Me' button -->
        <label for="id_remember">Remember Me:</label>
        <input type="checkbox" name="remember" id="id_remember">
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row pt-3">
          <button class="primaryAction btn btn-primary content-width mx-auto"
            type="submit">{% trans "Sign In" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
