{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row pt-3">
    <h1 class="center-text">{% trans "Sign Up" %}</h1>
  </div>
  <div class="row pt-2">
    <p class="center-text">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
        in</a>.{% endblocktrans %}
    </p>
  </div>
  <div class="row mx-auto">
    <div class="col-4 offset-4">
      <form class="signup mx-auto" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row">
          <button class="btn btn-primary content-width mx-auto" type="submit">{% trans "Sign Up" %}
            &raquo;</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
