/* base.html */

.body-container {
  min-height: 100vh;
  position: relative;
}

.news-footer {
  width: 100%;
  bottom: 0;
  position: absolute;
} 

.footer-padding {
  padding-bottom: 200px;
}

/* index.html */
.background-photo {
  background: no-repeat center center; 
  height: 100%;
  width: 100%;
  background-size: cover;
}

.vote-count {
  width: 50px;
}

.page-count {
  position: relative;
  display: block;
  color: var(--bs-body-color);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 0.375rem 0.75rem;
}

/* categories.html */
.category-list {
  display: none;
}

/* article.html */
.comment-list {
  display: none;
}

.upvote {
  border-radius: 20%;
  background-color: white;
}

.upvote-green {
  border-radius: 20%;
  background-color: green;
}

.downvote {
  border-radius: 20%;
  background-color: white;
}

.downvote-red {
  border-radius: 20%;
  background-color: red;
}

.category-badge {
  width: max-content;
  margin-right: auto;
}

.content-width {
  width: max-content;
}

.article-image {
  width: 100%;
}

.edit-article-button {
  margin-left: 10px;
}

.article-upvote {
  width: 0;
}

.article-downvote {
  width: 0;
}

.article-vote-count {
  width: 0;
}

.article-comment-count {
  width: 150px;
}

/* add_article.html */
.center-text {
  text-align: center;
}

.article-summary {
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

/* For screens from 1200px wide and down */
@media screen and (max-width: 1200px) {
  .vote-count {
    font-size: 0.9rem;
  }

}