.background-photo {
  background: no-repeat center center; 
  height: 100%;
  width: 100%;
  background-size: cover;
}

.body-container {
  min-height: 100vh;
  position: relative;
}

.news-footer {
  width: 100%;
  bottom: 0;
  position: absolute;
} 

.footer-padding {
  padding-bottom: 200px;
}

.page-count {
  position: relative;
  display: block;
  color: var(--bs-body-color);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 0.375rem 0.75rem;
}

.comment-list {
  display: none;
}

.category-list {
  display: none;
}

.upvote {
  border-radius: 20%;
  background-color: white;
}

.upvote-green {
  border-radius: 20%;
  background-color: green;
}

.downvote {
  border-radius: 20%;
  background-color: white;
}

.downvote-red {
  border-radius: 20%;
  background-color: red;
}

.category-badge {
  width: max-content;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.content-width {
  width: max-content;
}

.article-image {
  width: 100%;
}