{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1 text-center">Headline: {{ article.headline }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2 text-center">Posted on {{ article.time_created|date:"j F, Y, g:i a" }} by
                        {{ article.author }}</div>
                    <!-- Post categories-->
                    <div class="row">
                        <a class="badge bg-secondary text-decoration-none link-light category-badge mx-auto"
                        href="#!">{{ category.category_name }}</a>
                    </div>
                </header>
                <!-- Preview image figure-->
                {% if "default_image" not in article.image.url %}
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <figure class="mb-4 col-lg-12">
                            <div class="ml-5">
                                <img class="mr-5" src="{{ article.image.url }}" width="100%" center center>
                            </div>
                        </figure>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                {% endif %}
                <!-- Post content-->
                <section class="mb-5">
                    <p>{{ article.content | safe }}</p>
                </section>
            </article>

            <div class="row">
                <div class="upvote-col">
                    <form action="{% url 'upvote_article' article.id %}" method="POST">
                        {% csrf_token %}
                        {% if upvoted %}
                        <button class="text-dark upvote-green"><i class="fas fa-arrow-up"></i></button>
                        {% else %}
                        <button class="text-dark upvote"><i class="fas fa-arrow-up"></i></button>
                        {% endif %}
                    </form>
                </div>
                <div class="vote-num">
                    {{ vote_count }}
                </div>
                <div class="downvote-col">
                    <form action="{% url 'downvote_article' article.id %}" method="POST">
                        {% csrf_token %}
                        {% if downvoted %}
                        <button class="text-dark downvote-red"><i class="fas fa-arrow-down"></i></button>
                        {% else %}
                        <button class="text-dark downvote"><i class="fas fa-arrow-down"></i></button>
                        {% endif %}
                    </form>
                </div>
                <div class="col-1">
                    {% with comments.count as num_of_comments %}
                    <div class="text-dark"><i class="far fa-comments"></i> {{ num_of_comments }}</div>
                    {% endwith %}
                </div>
            </div>
            <!-- Comments section-->
            <section class="mt-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        {% if user.is_authenticated %}
                        <div class="row">
                            <div class="col-7 card-body">
                                {% for comment in comments %}
                                <div class="comment-list">
                                    <div class="mb-2 ms-1">
                                        <!-- Parent comment-->
                                        <div class="row">
                                            <p class="fw-bold mb-0">{{ comment.users_name }}
                                                <span class="text-muted fw-light">{{ comment.time_created_comment|date:"j M Y, g:i a" }}</span>
                                            </p>
                                        </div>
                                        <div class="ms-0 row">
                                            {{ comment.body }}
                                        </div>
                                    </div>
                                    {% if user == comment.users_name %}
                                    <a class="btn btn-danger mb-1" href="/comment/delete/{{ comment.id }}">Delete
                                        Comment</a>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                <div class="row">
                                    <button id="load-comments" class="mt-2 mx-auto btn btn-primary" style="width: max-content;">More comments</button>
                                </div>
                            </div>
                            <div class="col-5 pe-4 card-body">
                                <div class="mb-4 mt-3">
                                    <form class="mb-4" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <textarea name="body" cols="50" rows="5" required="" id="id_body"
                                                class="comment-box form-control ms-0 me-5" placeholder="Join the discussion!"></textarea>
                                        </div>
                                        <div class="row">
                                            <button class="mt-2 mx-auto btn btn-primary" type="submit">Add Comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Comment with nested comments-->
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}