{% extends "base.html" %}

{% block content %}

<header class="py-5 bg-light border-bottom mb-4 background-photo">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Categories</h1>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href='/category/add'>Add Category</a>
            {% endif %}
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="row">
                {% for category in categories %}
                <div class="col-lg-6 category-list">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <h2 class="card-title center-text">{{ category.category_name }}</h2>
                            </div>
                            <div class="row">
                                <a class="btn btn-primary" href="/category/articles/{{ category.id }}">Read more</a>
                                {% if user == category.category_author %}
                                <a class="btn btn-info" href='/category/edit/{{ category.id }}'>Edit Category</a>
                                <a class="btn btn-danger" href="/category/delete/{{ category.id }}">Delete Category</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <button id="load-categories" class="btn btn-primary">More Categories</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}