{% extends "base.html" %}

{% block content %}

<header class="py-5 bg-light border-bottom mb-4 background-photo">
    <div >
        <div class="container">
            <div class="text-center my-5">
                <p class="lead mb-0">{{ category.category_name }}</p>
                <a class="btn btn-primary" href="/article/add/{{ category.id }}">Add Article</a>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="row">
                {% for article in page_obj %}
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                                alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2021</div>
                            <h2 class="card-title">{{ article.headline }}</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
                                aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis
                                animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                            <a class="btn btn-primary" href="/article/view/{{ article.id }}">Read more →</a>
                            {% if user == article.author %}
                            <a class="btn btn-primary" href="/article/delete/{{ article.id }}">Delete Article</a>
                            <a class="btn btn-primary" href='/article/edit/{{ article.id }}' id="editSummernote">Edit Article</a>
                            <p class="card-text text-muted h6"></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    <li class="page-item page-count">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>

                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{%endblock%}