{% extends "base.html" %}

{% block content %}

<header class="py-5 bg-light border-bottom mb-4 background-photo">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Categories</h1>
            <a class="btn btn-primary" href='/category/add'>Add Category</a>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="row">
                {% for category in categories %}
                <div class="col-lg-6 categoryList">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ category.category_name }}</h2>
                            <a class="btn btn-primary" href="/category/article/{{ category.id }}">Read more →</a>
                            {% if user == article.author %}
                            <a class="btn btn-primary" href="/category/delete/{{ category.id }}">Delete Article</a>
                            <a class="btn btn-primary" href='/category/edit/{{ category.id }}'>Edit Article</a>
                            <p class="card-text text-muted h6"></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            <button id="loadCategories">More Category</button>
        </div>
    </div>
</div>

{% endblock %}