{% extends "base.html" %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col-6 offset-3 pt-3">
            {% for message in messages %}
            <div role="alert" id="msg" class="alert alert-dismissible fade show {{ message.tags }}">
                {{ message | safe }}
                <button class="btn-close" type="button" data-bs-dismiss="alert"></button>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row pt-3">
        <h1 class="center-text">Add Article</h1>
    </div>
    <div class="row mx-auto">
        <div class="col-8 offset-2">
            <form action="{{ news.views.add_article }}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row pt-3">Headline: {{ form.headline }}</div>
                <div class="row pt-3">Extract: {{ form.extract }}</div>
                <div class="row pt-3 pb-3">
                    <div class="col-1">
                        Image:
                    </div>
                    <div class="col-4">
                        {{ form.image }}
                    </div>
                </div>
                <div class="row">
                    <textarea id="summernote" name="editordata"></textarea>
                </div>
                <div class="row pt-3">
                    <button class="btn btn-primary content-width mx-auto" type="submit">Add Article</button>
                </div>
            </form>

        </div>
    </div>
</div>


{% endblock %}